* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

img {
    border: 2px solid #8f8f8f;
    margin-left: 400px;
}

.photo_info>p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #555;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 260px;
}

.intention_info {
    width: 500px;
    margin-left: 260px;
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
}

.intention_info>h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.intention_info>ul {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
    margin-left: 30px;
}

.phone_info, .fbook_info, .fback_info {
    width: 500px;
    margin-left: 260px;
}

.phone_info>h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.phone_info>p {
    margin-bottom: 20px;
    margin-left: 40px;
}

.fbook_info>a {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.fback_info {
    border-top: 1px solid #c5c5c5;
}

.fback_info>h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.fback_info>p {
    margin-left: 40px;
}

h2 {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

p {
font-family: Arial, sans-serif;
font-size: 14px;
color: #555;
}
