table{
  width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -275px;
}
td {
/*width: 67px;*/
/*Почему то, когда включаешь этот параметр(фиксированая ширина
для каждой ячейки) таблица ломается. Особенно видно на красном квадрате,
 4ре объединенные ячейки должны занимать 4*67=268пкс, а занимают 144пкс*/
vertical-align: middle;
text-align: center;
border-collapse: collapse;
border: 10px solid #000;
}
.row1>td {
  height: 55px;
}
.row2>td {
  height: 135px;
}
.row3>td {
  height: 135px;
}
.row4>td {
  height: 65px;
}
.row5>td {
  height: 65px;
}
.row6>td {
  height: 35px;
}
.row7>td {
height: 35px;
}
.yellow1 {
  background-color: #ffea54;
}
.red1 {
  background-color: #f54;
}
.black1 {
  background-color: #454545;
}
.blue1 {
  background-color: blue;
}
