body {
background: url('../img/background.png') no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;

}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/*navigation bar*/
.menu{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 36px;
  background-color: #065090;
}
ul>li {
display: inline-block;
height:36px;
margin: 0 auto;
}
ul>li>a{
  display: block;
  text-decoration: none;
  color: #60b5ed;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
ul>li>a:hover {
  background-color: #4eabda;
  color: #fff;
}
.line {
  width: 1px;
  height: 31px;
  background-color: #60b5ed;
}
.flag {
  padding-left: 10px;
}
label.click {
  font-size: 14px;
  font-family: Tahoma, sans-serif;
  color: #fff;
}

.radio1 + label,
.radio2 + label {
  cursor: pointer;
}

.radio1:not(checked),
.radio2:not(checked) {

  display: none;
}
.radio1:checked + .click1 {
  background: linear-gradient(to top, #2e7ac4, #4ca9d9);
}
.radio2:checked + .click2 {
  background: linear-gradient(to top, #2e7ac4, #4ca9d9);
}
.click1, .click2 {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.click2 {
  margin-right: 20px;
}

/*Forma*/

.wrapper2 {
  width: 560px;
  flex-grow: 1;
  }
.roof,
.forma {
  width: 560px;
  height: 600px;
  background: rgba(0, 0, 0, 0.63);
}
.roof {
  height: 65px;
  margin-bottom: 2px;
}
.button_f {
  margin-top: 35px;
  margin-bottom: 20px;
}
.button_f:hover {
  box-shadow: 0 0 5px 5px #5690ba;
}

.codastre {
  margin-top: 22px;
  margin-left: 212px;
}

.field1 {
  display: block;
  }
.f1 {
  width: 254px;
  height: 35px;
  background-color: #111;
  border-color: #111;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  font: 12px "Myriad Pro Regular", sans-serif;
}
.f1:hover {
  background-color: #1b5288;
  border-color: #1b5288;
  box-shadow: 0 0 5px 5px #5690ba;

}
.text_bellow1,
.text_bellow2 {
  font-size: 11px;
  font-family: Tahoma, sans-serif;
  color: #aaa;
}
.text1 {
  font-size: 14px;
  font-family:  Tahoma, sans-serif;
  color: #ccc;
}
input[placeholder] {
  padding-left: 20px;
}
.button1 {
  display: block;
  width: 150px;
  height:35px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 204px;
  border-color: #6ce;
  border-radius: 4px;
  color: #fff;
  background: linear-gradient(to top, #2e7ac4, #4ca9d9);
}
.button1:hover {
  box-shadow: 0 0 5px 5px #5690ba;
}
.button_f,
.field1 {
  margin-left: 140px;
}
.text2 {
  float: left;
  margin-left: 130px;
}
.text_bellow2 {
  margin-top: 5px;
  margin-left: 95px;
}
